.related-site {
  width: 11.875rem;
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border: 1px solid #A3A3A3;
  border-radius: 0.3125rem;
  padding: 0.75rem;
}

.related-site .title {
  color: #181818;
  font-size: 0.9375rem;
  line-height: 1.5;  
  margin-bottom: 0.5rem;
}
.related-site .title strong {
  color: #ED552F;
}

.related-site__box {
  background-color: #fff;
  border: 1px solid #A3A3A3;
  border-radius: 0.3125rem;
  height: 1.5625rem;
  overflow: hidden;
  transition: height .4s ease, padding .4s .2s ease;
}

.related-site__box:hover {
  height: 8.7125rem;
  padding: 0.4rem 0;
}

.related-site__box ul li a {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.125rem 1.5rem;
  transition: all .3s ease;
}


